---
version: 2
updates:
  # Devcontainer features
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: daily
    allow:
      - dependency-type: "direct"

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    groups:
      actions:
        patterns:
          - "*"
    allow:
      - dependency-type: "direct"

  # npm packages in devcontainer
  - package-ecosystem: "npm"
    directory: "/.devcontainer"
    schedule:
      interval: daily
    allow:
      - dependency-type: "direct"
